/* CreatePost.module.css */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.heading {
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  color: #555;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.title,
.imageUpload,
.addCategories input,
.textarea {
  background-color: #f9f9f9;
  color: #333;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: calc(100% - 20px);
}

.title:focus,
.imageUpload:focus,
.addCategories input:focus,
.textarea:focus {
  outline: none;
  border-color: #8e58ff;
}

.imageUpload {
  color: #333;
}

.imageUpload::-webkit-file-upload-button {
  background: #8e58ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
}

.addCategories {
  display: flex;
  align-items: center;
}

.addCategories input {
  flex-grow: 1;
  margin-right: 10px;
}

.addCategories span {
  cursor: pointer;
  background-color: #8e58ff;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
}

.addCategories span:hover {
  background-color: #6a40c4;
}

.categories {
  display: inline-flex;
  align-items: center;
  background-color: #8e58ff;
  color: white;
  padding: 7px 10px;
  margin: 5px;
  border-radius: 10px;
  font-size: 0.9rem;
}

.categories span {
  cursor: pointer;
  margin-left: 10px;
  color: white;
  display: flex;
  align-items: center;
}

.categories span svg {
  margin-left: 5px;
}

.textarea {
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.createbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px 0; */
}

.createbutton button {
  text-transform: uppercase;
  border: none;
  width: 100%;
  max-width: 300px;
  height: 50px;
  background-color: #8e58ff;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.createbutton button:hover {
  background-color: #6a40c4;
}
