.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 92vh;
  background-image: url("../public/jess-bailey-l3N9Q27zULw-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loginForm {
  background: rgba(255, 255, 255, 0.9); /* White background with transparency */
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.loginForm h2 {
  color: black;
}

.loginForm h4 {
  text-transform: capitalize;
  font-weight: 700;
  color: #333;
  margin-top: 0;
}

.inputs {
  display: flex;
  width: 300px;
  color: black !important;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputs input {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 2px solid #aaa;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s;
}

.inputs input:focus {
  border-bottom: 2px solid #333;
}

.loginForm h5 {
  color: #666;
  margin-bottom: 20px;
  font-weight: 500;
}

.loginForm button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 10px;
  font-weight: 600;
  color: #fff;
  background-color: #333;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginForm button:hover {
  background-color: #555;
}

.loginForm p {
  text-transform: capitalize;
  font-size: 14px;
  color: #666;
}

.loginForm h3 {
  text-transform: capitalize;
  color: red;
  font-size: 15px;
  margin: 0;
}
