.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  width: 98.5vw;
}
.image img {
  /* display: flex; */
  width: 100%;
  height: 600px;
}
.title {
  border-radius: 10px;
  width: 1000px;
  background-image: linear-gradient(#1e1e1e, #111);
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
}
.editButton {
  display: flex;
  align-items: center;
}
.editButton :nth-child(1),
.editButton :nth-child(2) {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 10px; */
  background-color: #8e58ff;
  border-radius: 10px;
  color: white;
  /* gap: 0.6rem; */
  margin-left: 5px;
  padding-right: 13px;
  /* margin-right: 2px; */
}
.author {
  margin: 10px 0px;
  font-size: 13px;
  padding-bottom: 10px;
}
.desc {
  /* margin-top: 20px; */
  border-radius: 10px;
  background-image: linear-gradient(#1e1e1e, #111);
  color: rgb(205, 193, 193);
  padding: 20px 70px;
  text-align: justify;
}
.text {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: absolute;
  top: 65%;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.categories {
  font-size: 0.8rem;
  background-color: #8e58ff;
  padding: 8px;

  margin-left: 10px;
  border-radius: 15px;
}
.comment {
  background-image: linear-gradient(#1e1e1e, #111);
  border-radius: 10px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
.cHeader {
  display: flex;
  align-items: center;
}
.cAuthor {
  font-size: 1.2rem;
  padding-right: 4px;
  color: #8e58ff;
  /* background-color: #fff; */
}
.cHeader :nth-child(2) {
  /* background-color: wheat; */
  color: gray;
  margin-left: 70px;
  font-size: 12px;
}

.cDelete {
  cursor: pointer;
  margin-left: 10px;
  font-size: 0.8rem;
  border-radius: 25px;
  padding: 4px 4px;
  display: flex;
  height: 25px;
  border: 2px solid #8e58ff;
  justify-content: center;
  align-items: center;
}
.cText {
  /* background-color: white; */
  font-size: 0.8rem;
  color: rgb(203, 203, 203);
}

.cWrite :nth-child(1) {
  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid #8e58ff;
  padding: 17px;
  outline: none;
  /* height: 45px; */
  background-color: black;
  /* background-color: white; */
}
.cWrite :nth-child(2) {
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #8e58ff;
  border: none;
  padding: 20px;
}
