.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  padding: 20px;
  background-color: #f4f4f9;
  overflow: hidden !important;
}

.image {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title h1 {
  font-size: 2rem;
  color: #333;
  margin: 0;
}

.editButton {
  display: flex;
  gap: 10px;
}

.editButton div {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #8e58ff;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.editButton div:hover {
  background-color: #732fd9;
}

.author {
  margin-top: 10px;
  font-size: 0.9rem;
  color: grey;
}

.desc {
  margin-top: 20px;
  color: #555;
  line-height: 1.6;
}

.desc span {
  color: black;
}

.categories {
  display: inline-block;
  margin-top: 10px;
  font-size: 0.8rem;
  background-color: #8e58ff;
  color: white !important;
  padding: 5px 10px;
  border-radius: 12px;
  margin-right: 5px;
}

.cWrite {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.cWrite input {
  flex: 1;
  border: 2px solid #8e58ff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 15px;
  outline: none;
  background-color: #f9f9f9;
  color: #333;
}

.cWrite button {
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #8e58ff;
  border: none;
  padding: 15px 20px;
  color: white;
  transition: background-color 0.3s;
}

.cWrite button:hover {
  background-color: #732fd9;
}

.comment {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  width: 95%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cAuthor {
  font-size: 1rem;
  color: #8e58ff;
  font-weight: bold;
}

.cHeader span {
  font-size: 0.9rem;
  color: grey;
  margin-left: 10px;
}

.cDelete {
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 25px;
  padding: 5px 10px;
  border: 2px solid #8e58ff;
  color: #8e58ff;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
}

.cDelete:hover {
  background-color: #8e58ff;
  color: white;
}

.cDelete p {
  display: flex;
  align-items: center;
  margin: 0;
}

.cDelete p svg {
  margin-right: 5px;
}

.cText {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
  line-height: 1.6;
}
