/* Profile.module.css */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.posts {
  width: 65%;
}

.posts h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.posts a {
  text-decoration: none;
  color: inherit;
}

.profile {
  width: 30%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.profile div {
  margin-bottom: 20px;
}

.profile span {
  display: block;
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 5px;
}

.profile input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  font-size: 1rem;
}

.profile input:focus {
  outline: none;
  border-color: #8e58ff;
}

.button {
  display: flex;
  justify-content: space-between;
}

.button button {
  flex: 1;
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button button:first-child {
  background-color: #8e58ff;
}

.button button:first-child:hover {
  background-color: #6a40c4;
}

.button button:last-child {
  background-color: #ff4b5c;
}

.button button:last-child:hover {
  background-color: #cc3b47;
}

h3 {
  color: green;
  text-align: center;
}
